@font-face {
  font-family: "Jubilat Bold";
  src: url("./assets/fonts/Jubilat-Bold.otf");
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./assets/fonts/BrandonGrotesque-Regular.otf");
}

.quote {
  background-color: white;
}

.quote__phrase {
  color: #273c48;
  font-family: "Jubilat Bold", Georgia, sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding: 150px 300px 20px 300px;
  text-align: center;
  background-color: white;
}

.quote__author {
  font-family: "Brandon Grotesque", Arial, sans-serif;
  color: #979797;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bolder;
  padding-bottom: 50px;
  text-align: center;
  background-color: white;
}
